<div class="container">
  <!-- (validStatus) ="valSt($event)" -->
  <app-customer    [custom] = "title"  (validStatus) ="valSt($event)"
   #CustomerComponent></app-customer>


</div>

<!-- {{validStatus}} -->



  <div class="form-group row mb-2">
    <div class="offset-md-2 col-md-4">
      <!-- [title]="customerForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'" -->
      <!-- [disabled]="!customerForm.valid">
       [disabled]="form.valid"
      (click) ="enableDisablec()"

      [disabled] ="shouldShow ? 'valid':'invalid'"
       {{shouldShow }}

       [disabled] = false
       -->

      <button  *ngIf="shouldShow" class="btn btn-primary mr-3"
          type="button"
          style="width:80px"
          (click)="toggle()"

        >
        Enable
        <!-- <p id="1" *ngIf="shouldShow"> Enable </p>
        <p id="2" *ngIf="!shouldShow"> Disable </p> -->


      </button>

      <button  *ngIf="!shouldShow" class="btn btn-primary mr-3"
          type="button"
          style="width:80px"
          (click)="toggle()"


        >
        Disable
        <!-- <p id="1" *ngIf="shouldShow"> Enable </p>
        <p id="2" *ngIf="!shouldShow"> Disable </p> -->


      </button>



      <button class="btn btn-primary mr-3"
              type="button"
              style="width:80px"
              #clearRef
              (click) ="clearFunc()"
      >
        Clear
      </button>


     <button class="btn btn-primary mr-3"
     type="button"
     style="width:80px"
     (click) ="PopulateFunc()">
      Populate
     </button>
     <!-- [disabled]="primaryCustomComponent.customerForm.valid"
      .///my

        (click) ="primaryCustomComponent.handleFormChanges()"
      [disabled] = "primaryCustomComponent.handleFormChanges()? 'valid': 'invalid'"
      (click) ="statusChang()"
      -->

      <!-- {{validInvalid}} -->

     <button class="btn btn-primary mr-3"
      type="button"
      style="width:80px"
      (click) = "submit()"

      [disabled] = "!validInvalid "

      >
      Submit
     </button>

      <!-- <button class="btn btn-outline-secondary"
              type="button"
              (click)="populateMain()">
        Populate
      </button> -->
    </div>
  </div>


